/* */
body {
   color: #aaa;
   background-color: #585052;
   font-family: 'Libre Franklin:200,400,700', sans-serif;
   font-weight: 200;
}

.light {
   color: #aaa;
}

.white {
   color: #fff;
}

nav {
   font-size: 1.4rem;
   padding: 2.0rem;
   color: #fff;
   background-color: #484042;
   margin-bottom: 2rem;
}

nav a{
   color: #fff;
   text-decoration: none;
}

nav a:hover{
   text-decoration: underline;
}

.spacer-bottom {
   margin-bottom: 2rem;
}
.spacer-top {
   margin-top: 2rem;
}
.spacer {
   height: 2rem;
   width: 2rem;
}

.text-right {
   text-align: right;
}
.text-center {
   text-align: center;
}

h1 {
   font-weight: 100;
   font-family: 'Amatic SC', sans-serif;
   font-size: 3.0rem;
}


.radio-button .radio-button2 {
   cursor: pointer;
}
/*.radio-button input:checked ~ .checkmark {
  background-color: #2196F3;
}*/

.radio-button input {
   visibility: hidden;
}

.radio-button2 input {
   visibility: hidden;
}

.radio-button-select {
   color: white;
   font-size: 1.3rem;
}

.radio-button-div {
   line-height: 100%;
}

.radio-key-div {
   display: block;
}

.radio-key-div-hide {
   display: none;
}

.feeling-submit {
   visibility: hidden;
}

.feeling-journal {
   visibility: hidden;
}

.feeling-journal textarea {
   background-color: #706060;
}

.feeling-date {
   background-color: #706060;
   border: 0;
}
