/* */
body {
   color: #aaa;
   background-color: #585052;
   font-family: 'Libre Franklin:200,400,700', sans-serif;
   font-weight: 200;

}

.light {
   color: #aaa;
}

.white {
   color: #fff;
}

nav {
   font-size: 1.4rem;
   padding: 2.0rem;
   color: #fff;
   background-color: #484042;
   margin-bottom: 2rem;
}

nav a{
   color: #fff;
   text-decoration: none;

   line-height: 4rem;
}

nav a:hover{
   text-decoration: underline;
}

footer {
   margin: 2rem;
}

.spacer-bottom {
   margin-bottom: 2rem;
}
.spacer-top {
   margin-top: 2rem;
}
.spacer {
   height: 2rem;
   width: 2rem;
}
.spacer-right {
   margin-right: 1rem;
}

.text-right {
   text-align: right;
}
.text-center {
   text-align: center;
}

.padding-5 {
   padding: 5px;
}

h1 {
   font-weight: 100;
   font-family: 'Amatic SC', sans-serif;
   font-size: 3.0rem;
}


.radio-button .radio-button2 {
   cursor: pointer;
}
/*.radio-button input:checked ~ .checkmark {
  background-color: #2196F3;
}*/

.radio-button input {
   visibility: hidden;
}

.radio-button2 input {
   visibility: hidden;
}

.radio-button-select {
   color: white;
   font-size: 1.3rem;
}

.radio-button-div {
   line-height: 100%;
}

.radio-key-div {
   display: block;
}

.radio-key-div-hide {
   display: none;
}

.feeling-submit {
   visibility: hidden;
}

.feeling-journal {
   visibility: hidden;
}

.feeling-journal textarea {
   background-color: #706060;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   max-width: 100%;
   width: 100%;
}

.feeling-date {
   background-color: #706060;
   border: 0;
}

.clickset input {
   background-color: #706060;
}

.clickset textarea {
   background-color: #706060;
}

.editall-form textarea {
   background-color: #706060;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   max-width: 100%;
   width: 100%;
}

.editall-form h3 {
   margin: 0;
}

.timeline-label {
   font-size: 1.0rem;
   color: #807070;
}

.timeline-data {
   color: #f0f0f0;
}
