.timeline {
   background-color: #b0a0a0;
}


.chart-wrapper-scroll {
  width: 100%;
  position: relative;
}

.chart-wrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

#plotter {
   width: 1200px;
}
