{% extends 'base.html' %}
{%block content%}

<div class="pure-g mood-entry">
   <div class="pure-u-1-5"></div>
   <div class="pure-u-3-5">

      <form action="/create/" method="POST" class="pure-form">
         <h3>Today is
            <input class="feeling-date" type="text" name="time" value="{{today}}">
         </h3>
         {% csrf_token %}
         <div>
            <h1 class="feeling-white">How do you feel today?</h1>
            <div class="radio-button-div">
               {% for q in questions.feeling %}
               <label class="radio-button">{{q}}
                  <input class="radio-button spacer-top" type="radio" name="feeling" value="{{q}}">
               </label>
               {% endfor %}
            </div>
         </div>
         <div class="spacer"></div>
         <div>
            <h1 class="feeling-white">What was the central cause for you being &quot;<span id="answer"></span>&quot;?</h1>
            <div class="radio-button-div">
               {% for key in triggers_ordered %}
                  <div id="feeling{{forloop.counter0}}" class="radio-key-div-hide">
                  {% for t in key %}
                        <label class="radio-button2">{{t}}
                           <input class="radio-button2 spacer-top" type="radio" name="trigger" value="{{t}}">
                        </label>
                  {% endfor %}

                  </div>
               {% endfor %}
            </div>
         </div>
         <div class="spacer"></div>
         <div class="feeling-journal pure-group pure-g">
            <div class="pure-u-1">
               <h1 class="feeling-white">Other thoughts:</h1>
            </div>
            <textarea class="pure-input feeling-journal-input" name="journal" rows="3" cols="90"></textarea>
         </div>
         <input type="submit" value="Submit" class="feeling-submit pure-button pure-button-primary spacer-top">

      </form>
   </div>

</div>
<script>


//-- Oh django! you my life so complicated!
let feelingList = [
{% for i in questions.feeling %}
   "{{i}}",
{% endfor %}
];
let bgColorList = [
{% for i in questions.feeling_bgcolor %}"{{i}}",{% endfor %}
];
let fgColorList = [
{% for i in questions.feeling_fgcolor %}"{{i}}",{% endfor %}
];

function changeElementColors(index) {
	let bodyElement = document.querySelector("body");
	let rb = document.querySelectorAll(".radio-button, .radio-button2");
	let wh = document.querySelectorAll(".feeling-white, .radio-button-select");

	let bgColor = bgColorList[index];
	let fgColor = fgColorList[index];

	bodyElement.style.backgroundColor = bgColor;
	bodyElement.style.color = "#505050";
	rb.forEach(function(r) {r.style.color="#505050"});
	wh.forEach(function(r) {r.style.color=fgColor});

}

function init() {
	let c = document.querySelectorAll("label.radio-button");
	let answer = document.querySelector("#answer");
	var currentIndex=0;

	//-- add clicks and functionality to feeling tags
	c.forEach(function(e){
	   e.addEventListener("click",function(e){
	      //clear then add
	      c.forEach(function(f){f.className="radio-button"});
	      this.className += " radio-button-select";
	      answer.textContent = e.target.value;

	      //hide all, then show selected triggers
	      let hidelist = document.querySelectorAll(".radio-key-div");
	      hidelist.forEach(function(f){f.className="radio-key-div-hide"});

	      let dd = feelingList.indexOf(e.target.value);
			currentIndex=dd;
	      if (dd>=0) {
	         let d = document.querySelector("#feeling"+dd);

	         d.className = "radio-key-div";
				changeElementColors(dd);
	      }

	      //show submit button
	      let s = document.querySelector(".feeling-submit");
	      s.style.visibility = "visible";
	      let s2 = document.querySelector(".feeling-journal");
	      s2.style.visibility = "visible";
	   })
	})

	//add clicks to triggers
	let c2 = document.querySelectorAll("label.radio-button2");
	c2.forEach(function(e){
	   e.addEventListener("click",function(e){
	      //clear then add
	      c2.forEach(function(f){f.className="radio-button2"});
	      this.className += " radio-button-select";

			changeElementColors(currentIndex);
	   })
	})
}

init();

</script>
{%endblock%}
