{% extends 'base.html' %}

{%block content%}
<div class="pure-g">
   <div class="pure-u-1 pure-u-md-1-5"></div>
   <div class="pure-u-1 pure-u-md-3-5">
      <h1>Timeline</h1>
   </div>
</div>
<div class="pure-g">
   <div class="pure-u-1 pure-u-md-1-5"></div>
   <div class="pure-u-1 pure-u-md-3-5">
      <div class="chart-wrapper-scroll" id="plotter">
      </div>
   </div>
   <div class="pure-u-1 pure-u-md-1-5"></div>
</div>
<div class="spacer"></div>
<div class="pure-g spacer-top timeline-label">
   <div class="pure-u-1 pure-u-sm-1-5"></div>
   <div class="pure-u-1 pure-u-sm-3-5">
      <div class="pure-g">
         <div class="pure-u-1-3">
            Date: <span class="timeline-data" id="timeline-data-date"></span>
         </div>
         <div class="pure-u-1-3">
            Feeling: <span class="timeline-data" id="timeline-data-feeling"></span>
         </div>
         <div class="pure-u-1-3">
            Trigger: <span class="timeline-data" id="timeline-data-trigger"></span>
         </div>
      </div>
      <div class="pure-g">
         <div class="pure-u-1">
            Journal entry: <span class="timeline-data" id="timeline-data-journal"></span>
         </div>
      </div>
   </div>
   <div class="pure-u-1 pure-u-sm-1-5"></div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>

const MS_IN_DAY = 86400000;



function setupPlot(data) {
   var trace = [];
   var trace_key = {};

   //-- making the feelings list available to javascript
   //-- also populate our chart with this to display them all
   let feelingList = [
      {% for i in feeling_axis %}
         "{{i}}",
      {% endfor %}
   ];

   let feelingColor = [
      {% for i in feeling_color %}
         "{{i}}",
      {% endfor %}
   ]

   //-- divide up our traces by feeling
   let j=0;
   feelingList.forEach(function(i){
      trace.push({
         x:[],
         y:[],
         type: 'scatter',
         marker: {"color": feelingColor[j], "size": 22},
         mode: "markers"
      });
      trace_key[i] = j;
      j++;
   });

   data.forEach(
      function(i){
         trace[trace_key[i.fields.feeling]].x.push(i.fields.date);
         trace[trace_key[i.fields.feeling]].y.push(i.fields.feeling);
         trace[trace_key[i.fields.feeling]].name="";
      }
   );

   var date = new Date();
   var date_ms = parseInt(date.getTime());

   var layout = {
      yaxis: {
         fixedrange: true,
         range: [0,feelingList.length-1],
         tickfont: {
            font: {
              color: 'rgb(255,255,255)'
            }
          }
      },
      xaxis: {
         fixedrange: false,
         scroll: true,
         scollZoom:false,
         type: 'date',
         range: [date_ms-MS_IN_DAY*10,date_ms+MS_IN_DAY],
         dtick:100000000
      },
   	dragmode: "pan",
      type: "scatter",
      mode: "markers",
      paper_bgcolor: "rgb(150,150,160)",
      plot_bgcolor: "rgb(150,150,160)",
      margin: {l:80, r:40, t:40},
      autosize: true,
      hovermode: 'closest',
      updatemenus: [{
         pad: {t: 60, r: 30},
         type: 'buttons',
         xanchor: 'left',
         yanchor: 'top',
         x: 00,
         y: 0,
         direction: 'right',
         buttons: [{
            label: '&lt;',
            method: 'restyle',
            args: ['line.color', 'red']
         }, {
            label: '&gt;',
            method: 'restyle',
            args: ['line.color', 'green']
         }]
      }],

   }

   // var trace1 = {
   //    x: [],
   //    y: [],
   //    type: 'scatter',
   //    marker: {"color": "#a0b0f0", "size": 22},
   //    mode: "markers"
   // }

   //
   PLOTTER = document.getElementById("plotter");
   	Plotly.newPlot( PLOTTER, trace,
      layout,
      {displayModeBar: false},
   );

   PLOTTER.on('plotly_click', function(data){
      data.points.map(function(d){
         setTimelineData(d);
      })
   });
}

function setTimelineData(data) {
   //console.log(data);
   document.getElementById("timeline-data-date").textContent = data.x;
   document.getElementById("timeline-data-feeling").textContent = data.y;

   //-- get more info
   ajax({
      method: "get",
      url: "/timeline/data/"+data.data.x[data.pointIndex]
   }).then(function(resp) {
      //-- match the one selected
      let r = resp.filter(function(o) {
         return (o.fields.feeling == data.y);
      });
      document.getElementById("timeline-data-trigger").textContent = r[0].fields.trigger;
      document.getElementById("timeline-data-journal").textContent = r[0].fields.journal;
   });
}

//-- make our call to the server, then setup the plot
ajax({
   method: "get",
   url: "/timeline/data"
}).then(function(resp) {
   feeling_data = resp;
   setupPlot(feeling_data);
});

</script>
{%endblock%}
