{% extends 'base.html' %}

{%block content%}

<div class="pure-g">
   <div class="pure-u-1-5"></div>
   <div class="pure-u-3-5">
      <h1>Timeline</h1>
   </div>

</div>
<div class="pure-g">
   <div class="pure-u-1-5"></div>
   <div class="pure-u-3-5 timeline">

   </div>
</div>
<div class="pure-g">
   <div class="pure-u-1-5"></div>
   <div class="pure-u-3-5 chart-wrapper">
      <div class="chart-wrapper-scroll" id="tester">
      </div>
   </div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>

//make our call to the server, then setup the plot
ajax({
   method: "get",
   url: "/timeline/data"
}).then(function(resp) {
   feeling_data = resp;
   setupPlot(feeling_data);
})

function setupPlot(data) {
   dataX = [];
   dataY = [];
   data.forEach(function(i){dataX.push(i.fields.date); dataY.push(i.fields.feeling);});

   //-- making the feelings list available to javascript
   let feelingList = [
      {% for i in feeling_axis %}
         "{{i}}",
      {% endfor %}
   ];

   var date = new Date(); // some mock date
   var date_ms = parseInt(date.getTime());
   // console.log(date_ms,data)

   var layout = {
      yaxis: {fixedrange: true, range: [0,feelingList.length-1]},
      xaxis: {fixedrange: false, scroll: true, scollZoom:false, type: 'date', range: [date_ms-86400000*7,date_ms+86400000]},
   	dragmode: "pan",
      margin: {t: 0},
      type: "scatter",
      mode: "markers",
      paper_bgcolor: "rgb(150,150,160)",
      plot_bgcolor: "rgb(150,150,160)",
      margin: {l:70, r:40, t:40},

   }

   var trace1 = {
      x: dataX,
      y: dataY,
      type: 'scatter',
      width: 20000000,
      marker: {"color": "#a0b0f0", "size": 22},
      mode: "markers"
   }

   TESTER = document.getElementById("tester");
   	Plotly.newPlot( TESTER, [trace1],
      layout,
      {displayModeBar: false},
   );
}

</script>
{%endblock%}
