{% extends 'base.html' %}

{%block content%}

<div class="pure-g">
   <div class="pure-u-1-5"></div>
   <div class="pure-u-3-5">
      <h1>Timeline</h1>
   </div>

</div>
<div class="pure-g">
   <div class="pure-u-1-5"></div>
   <div class="pure-u-3-5 timeline">

   </div>
</div>
<div class="pure-g">
   <div class="pure-u-1-5"></div>
   <div class="pure-u-3-5 chart-wrapper">
      <div class="chart-wrapper-scroll" id="plotter">
      </div>
   </div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>

//make our call to the server, then setup the plot
ajax({
   method: "get",
   url: "/timeline/data"
}).then(function(resp) {
   feeling_data = resp;
   setupPlot(feeling_data);
})

function setupPlot(data) {
   var trace = [];
   var trace_key = {};

   //-- making the feelings list available to javascript
   //-- also populate our chart with this to display them all
   let feelingList = [
      {% for i in feeling_axis %}
         "{{i}}",
      {% endfor %}
   ];

   let feelingColor = [
      {% for i in feeling_color %}
         "{{i}}",
      {% endfor %}
   ]

   //-- divide up our traces by feeling
   let j=0;
   feelingList.forEach(function(i){
      trace.push({
         x:[],
         y:[],
         type: 'scatter',
         marker: {"color": feelingColor[j], "size": 22},
         mode: "markers"
      });
      trace_key[i] = j;
      j++;
   });

   data.forEach(
      function(i){
         trace[trace_key[i.fields.feeling]].x.push(i.fields.date);
         trace[trace_key[i.fields.feeling]].y.push(i.fields.feeling);
         trace[trace_key[i.fields.feeling]].name="";
      }
   );


   var date = new Date();
   var date_ms = parseInt(date.getTime());

   var layout = {
      yaxis: {fixedrange: true, range: [0,feelingList.length-1]},
      xaxis: {fixedrange: false, scroll: true, scollZoom:false, type: 'date', range: [date_ms-86400000*7,date_ms+86400000]},
   	dragmode: "pan",
      margin: {t: 0},
      type: "scatter",
      mode: "markers",
      paper_bgcolor: "rgb(150,150,160)",
      plot_bgcolor: "rgb(150,150,160)",
      margin: {l:70, r:40, t:40},

   }

   // var trace1 = {
   //    x: [],
   //    y: [],
   //    type: 'scatter',
   //    marker: {"color": "#a0b0f0", "size": 22},
   //    mode: "markers"
   // }

   PLOTTER = document.getElementById("plotter");
   	Plotly.newPlot( PLOTTER, trace,
      layout,
      {displayModeBar: false},
   );
}

</script>
{%endblock%}
